<h1>photogur</h1><br>
<%= link_to "Add a Picture!", new_picture_url %>

<% @most_recent_pictures.each do |picture| %>
	<p><%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
	<p><%= picture.title %>, <%= picture.artist %></p>
	<br><br>
<% end %>

<h2>Older Posts</h2>
<p>Total: <%= @older_pictures.count %></p>
<% @older_pictures.each do |picture| %>
	<p><%= link_to "#{picture.title}", "/pictures/#{picture.id}" %></p>
<% end %>